.container{
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  flex-direction: row;
}
.button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: #fff;
  border: 2px solid blue;
}
.button + .button {
  margin: 0 1px;
}
.buttonBig {
  width: 80px;
}
.selected {
  border: 2px solid green;
}
.previous {
}
.next {
}
