.columnDataList {
  width: 70%;
}
.table {
  width: 100%;
}
.tableRow {
  /*padding: 5px 0;*/
}
.tableColumn {
  font-size: 15px;
  padding: 7px;
  background: #07b0f2;
  color: #000;
}
.sortIcon {
  width: 13px;
  margin: 0 0 0 7px;
}
/*@media (max-width: 1000px) {*/
/*  .columnDataList{*/
/*    width: 100%;*/
/*  }*/
/*}*/
/**/
