.columnDataList {
  width: 70%;
}
.table{
  width: 100%;
}
.tableColumn {
  /*padding: 0 5px;*/
}
.tableRow {
  padding: 7px;
  border: 2px solid #000;
}
.sortIcon{
  width: 13px;
  margin: 0 0 0 7px;
}

